In [ ]:
x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)

['ab', 'cd']

In [ ]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
 
    i+= 1

1
2

In [ ]:
list=['car','bus','scooter']
def loop(x):
  print(x*3)

def map_new(a):
  for i in list:
    a(i)

map_new(loop)

carcarcar
busbusbus
scooterscooterscooter

In [ ]:
lsi = ["apple", "banana", "cherry"]
lsi.remove("banana")
print(lsi)

['apple', 'cherry']

In [ ]:
list1=["apples","bananas","kiwi"]
list2=[]
for x in list1:
  if "a" in x:
    list2.append(x)
print(list2)

['apples', 'bananas']

In [ ]:
list1=["apples","bananas","kiwi"]
list2=[x for x in list1 if "a" in x]
print(list2)

['apples', 'bananas']

In [ ]:
list1=["apples","bananas","kiwi"]
list2=[x.upper() for x in list1]
print(list2)

['APPLES', 'BANANAS', 'KIWI']

In [ ]:
list1=["apples","bananas","kiwi"]
list2=[x for x in list1 if x != "kiwi"]
print(list2)

['apples', 'bananas']

In [ ]:
list1=["apples","bananas","kiwi"]
list2=[x if x != "kiwi" else "oranges" for x in list1]
print(list2)

['apples', 'bananas', 'oranges']

In [ ]:
class Human:
  x=5

h1=Human()
print(h1.x)

5

In [ ]:
5**10

9765625

In [ ]:
def odd_even(x):
  if x%2==0:
    print("Given number is even")
  else:
    print("Given number is odd")

print(odd_even(7))

Given number is odd
None

In [ ]:
num=int(input("Enter a number: "))
if num>1:
  for i in range(2,num):
    if num%i==0:
      print(num, "is not a prime number")
      break
  else:
      print(num, "is a prime number")
else:
  print(num, "is not a prime number")

Enter a number: 4
4 is not a prime number

In [ ]:
def fib(n):
    a = 0
    b = 1
    if n == 1:
        print(a)
    else:
        print(a)
        print(b)
        for i in range(2,n):
            c = a + b
            a = b
            b = c
            print(c)
fib(10)

In [ ]:
def fib(n):
  a,b=0,1
  if n<=0:
    print("Enter a positive integer")
  elif n==1:
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n):
     c=a+b
     a=b
     b=c
     print(c)


n=int(input("How many terms?"))
fib(n)

In [ ]:
def Fibonacci(number):
           if(number == 0):
                      return 0
           elif(number == 1):
                      return 1
           else:
                      return (Fibonacci(number - 2)+ Fibonacci(number - 1))
number = int(input("Enter the Range Number: "))
for n in range(0, number):
           print(Fibonacci(n))

Enter the Range Number: 6
0
1
1
2
3
5